<meta http-equiv="refresh" content="60">
<style>
  a { color: inherit; } 
  a:hover { color: inherit; }
</style>
<body style="background-color:#900000" class="container">
  <h1 style="text-align:center; color:white">Matches</h1>
  <table style="background-color:rgba(235, 235, 235, 0.795)" class="table table-striped">
    <thead>
      <tr>
        <th>Match Number</th>
        <th>Predicted Time</th>
        <th colspan="3">Blue Alliance</th>
        <th colspan="3">Red Alliance</th>
      </tr>
    </thead>
    <tbody>
      {{#data}}
      <tr>
        
        <td style="color:{{winner winning_alliance}}"><a href="https://thebluealliance.com/match/{{key}}" target="_blank">{{comp_level}}{{match_number}}</a></td>
        <td>{{printTime predicted_time}}</td>
        {{#each alliances.blue.team_keys}}
          <td style="color:blue;"><a href="https://thebluealliance.com/team/{{removeFRC this}}" target="_blank">{{{slice this ../winning_alliance}}}</a></td>
        {{/each}}
        {{#each alliances.red.team_keys}}
          <td style="color:red;"><a href="https://thebluealliance.com/team/{{removeFRC this}}" target="_blank">{{{slice this}}}</a></td>
        {{/each}}
      </tr>
      {{/data}}
    </tbody>
  </table>
</body>
</html>
